/target
/.vscode
/sport-log-client/.vscode/*
!sport-log-client/.vscode/launch.json.template
.idea/
/sport-log-action-provider-map-matching/map-matching
/sport-log-server/sport-log-server-config.toml
.env
private_data.sh
