/target
/.vscode/*
!/.vscode/launch.json.template
.idea/
/sport-log-action-provider-map-matching/map-matching
/sport-log-action-provider-sportstracker/sport-log-action-provider-sportstracker.toml
/sport-log-action-provider-wodify-login/sport-log-action-provider-wodify-login.toml
/sport-log-scheduler/sport-log-scheduler.toml
/sport-log-server/sport-log-server.toml
/sport-log-client/sport-log-client.yaml
/sport-log-client/build.sh
/sport-log-client/flutter_checks.sh
flatpak-build
flatpak-repo
.flatpak-builder
.env
geckodriver
rust_checks.sh
upgrade.sh

# git update-index --assume-unchanged sport-log-client.sport-log-client.yaml