/target
/.vscode/*
!/.vscode/launch.json.template
.idea/

/sport-log-action-provider-sportstracker/sport-log-action-provider-sportstracker.toml
/sport-log-action-provider-boxbase-login/sport-log-action-provider-boxbase-login.toml
/sport-log-scheduler/sport-log-scheduler.toml
/sport-log-server/sport-log-server.toml
/sport-log-client/sport-log-client.yaml
/sport-log-client/build.sh
/sport-log-client/flutter_checks.sh

/scripts

/flatpak-build
/flatpak-repo
.flatpak-builder

.env
