[Unit]
Description=Sport Log Server
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=3600

[Service]
Type=simple
User=sport-admin
WorkingDirectory=/etc/sport-log-server
ExecStart=/usr/local/bin/sport-log-server
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
