[Desktop Entry]
Type=Application
Name=Sport Log Client
Icon=org.sport_log.sport_log_client
#Exec=env GDK_GL=gles  flatpak run org.sport_log.sport_log_client
Exec=org.sport_log.sport_log_client
Keywords=Sport;Log;Diary