[Desktop Entry]
Name=Sport Log
Type=Application
Icon=org.sport_log.sport_log_client
# Exec = command of flatpak yml config
Exec=sport_log_client
Keywords=Sport;Log;Diary